*{
    padding:0;
    margin: 0;
}
body{
    font-family: 'Roboto Slab' ;
}
p{
    text-align: justify;
   line-height: 1.5;
   color:dimgray;
}
h1{
    font-size: 50px;
    padding-bottom: 20px;
}
h2{
    font-size: 35px;
    padding-bottom: 15px;
}
h3{
    padding-bottom: 20px;
    font-size: 25px;
}
h4{
    font-size: 20px;
    padding-bottom: 20px;
}
.color_highlight{
    color: orange;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.head-part{
    padding-top: 2%;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.hire-me{
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(60deg, lightsalmon, tomato );
    padding: 10px 20px;
    color: white;
    font-weight: 700;

}
a.hire-me:hover{
    color: red;
    transition: ease 1s;
}
.second-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.third-part-divide{
    box-shadow: gray 10px 10px 30px;
    height: 80%;
    padding: 25px 25px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}
#border-left-one{
    border-left: 10px solid;
    border-image: linear-gradient(145deg, yellow, tomato);
    border-image-slice: 1;
}
#border-left-two{
    border-left: 10px solid;
    border-image: linear-gradient(50deg,blue,green );
    border-image-slice: 1;
}
.third-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.third-part-h3{
    padding-bottom: 25px;
}
footer p{
    text-align: center;
    font-size: 15px;
    padding-bottom: 5px;
}
