*{
    padding:0;
    margin: 0;
}
body{
    font-family: 'Roboto Slab' ;
}
p{
    text-align: justify;
   line-height: 1.5;
   color:dimgray;
}
h1{
    font-size: 50px;
    padding-bottom: 20px;
}
h3{
    padding-bottom: 20px;
    font-size: 25px;
}
h4{
    font-size: 20px;
    padding-bottom: 10px;
}
.color_highlight{
    color: orange;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.head-part{
    padding-top: 2%;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.header-top, .second-part-top, .third-part-top{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.header-top img, .second-part-top img{
    width: 100%;
}
.hire-me{
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(60deg, lightsalmon, tomato );
    padding: 10px 20px;
    color: white;
    font-weight: 700;

}
a.hire-me:hover{
    color: red;
    transition: ease 1s;
}
.second-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
